name: Publish

on:
  workflow_run:
    workflows: ["Release new version"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        server-id: central
        settings-path: ${{ github.workspace }}

    - name: Import GPG key
      run: |
        echo "${{ secrets.GPG_PRIVATE_KEY }}" | gpg --batch --import --pinentry-mode loopback
      env:
        GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}

    - name: Create temporary settings file
      run: |
        echo "<settings xmlns=\"http://maven.apache.org/SETTINGS/1.0.0\"
                      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
                      xsi:schemaLocation=\"http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd\">
                <servers>
                    <server>
                        <id>central</id>
                        <username>${{ secrets.MAVEN_USERNAME }}</username>
                        <password>${{ secrets.MAVEN_PASSWORD }}</password>
                    </server>
                </servers>
            </settings>
        " > config.xml

    - name: Deploy Parent POM
      run: mvn -B clean deploy -N -DskipTests -s config.xml -Dgpg.executable=gpg -Dgpg.passphrase="${{ secrets.GPG_PASSPHRASE }}" -Dgpg.use-agent=false -Dgpg.loopback=true
      env:
        MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
        GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

    - name: Build and Deploy Modules
      if: env.IS_PATCH == 'false'
      run: |
        # Module names
        MODULE_NAMES=("tree" "database" "visualizer" "general_libraries" "experiments")
        echo "Modules to build: MODULE_NAMES"
        IFS=',' read -r -a MODULE_ARRAY <<< "MODULE_NAMES"
        for MODULE in "${MODULE_ARRAY[@]}"; do
          echo "Building and deploying module: $MODULE"
          mvn -B clean deploy -pl $MODULE -DskipTests -s config.xml -Dgpg.executable=gpg -Dgpg.passphrase="${{ secrets.GPG_PASSPHRASE }}" -Dgpg.use-agent=false -Dgpg.loopback=true
        done
      env:
        MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
        GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
