name: Release new version

on:
  workflow_run:
    workflows: ["Adapt versioning"]
    types:
      - completed

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Getting parent version
      run: |
        VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
        # Save the modules to GitHub environment
        echo "VERSION=${VERSION}" >> $GITHUB_ENV
        # Display the extracted value
        echo "VERSION=${VERSION}"

    - name: Update Changelog
      id: update_changelog
      run: |
        VERSION="${{ env.VERSION }}"
        # Extract version number from the changelog and keep it for later
               
        # Concatenate all unreleased versions into a release note
        sed -i -e "/^## Unreleased$/s/.*/## $VERSION ($(date +%Y.%m.%d))/" -e "/^## $VERSION/,/^## /{/^### /d}" CHANGELOG.md
                 
        # Extract the newest version's release note
        RELEASE_NOTE=$(cat CHANGELOG.md | sed -n '/^## /{n; :a; /^## /q; p; n; ba}')
                 
        # Export the extracted changelog as an environment variable
        echo "RELEASE_NOTE<<EOF" >> $GITHUB_ENV
        echo "$RELEASE_NOTE" >> $GITHUB_ENV
        echo "EOF" >> $GITHUB_ENV

    - name: Configure Git
      run: |
        git config --local user.name "github-actions[bot]"
        git config --local user.email "13170944+GuibertLo@users.noreply.github.com"

    - name: Commit & Push
      run: |
        if [[ -n "$(git status --porcelain)" ]]; then
          git add .
          git commit -m "github-actions[bot]: making a new release, automation of a post-merge into main"
          git push origin HEAD:main
        else
          echo "No changes to commit"
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.VERSION }} # Assuming VERSION is set earlier
        release_name: Release ${{ env.VERSION }}
        body: |
           ${{ env.RELEASE_NOTE }}
        draft: false
        prerelease: false